@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(97% 0.021 166.113);
    --color-base-200: oklch(95% 0.052 163.051);
    --color-base-300: oklch(90% 0.093 164.15);
    --color-base-content: oklch(37% 0.077 168.94);
    --color-primary: #b3efb2;
    --color-primary-content: oklch(21% 0.006 56.043);
    --color-secondary: #7a9e7e;
    --color-secondary-content: oklch(21% 0.006 56.043);
    --color-accent: #31493c;
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: oklch(37% 0.077 168.94);
    --color-neutral-content: oklch(97% 0.021 166.113);
    --color-info: oklch(91% 0.096 180.426);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(84% 0.143 164.978);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(20% 0 0);
    --color-base-200: oklch(21% 0.006 285.885);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(92% 0.003 48.717);
    --color-primary: #b3efb2;
    --color-primary-content: oklch(21% 0.006 56.043);
    --color-secondary: #7a9e7e;
    --color-secondary-content: oklch(21% 0.006 56.043);
    --color-accent: #31493c;
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: oklch(27% 0.046 192.524);
    --color-neutral-content: oklch(97% 0.021 166.113);
    --color-info: oklch(91% 0.096 180.426);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(84% 0.143 164.978);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

